<div style="margin-top: 50px"></div>
<audio id="buzz">
  <source src="sound/err.mp3" type="audio/mp3">
</audio>
<audio id="word">
  <source src="sound/chaos-emerald.mp3" type="audio/mp3">
</audio>
<audio id="end">
  <source src="sound/24-game-over.mp3" type="audio/mp3">
</audio>

<div class="container">
  <div id="area" ng-show="showWord">
    <h1>{{currentWord}}</h1>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="wordField" type="text" autofocus>
      <label for="text">Spell Here</label>
    </div>
  </div>
</div>

<div class="row">
   <div class="col s6 offset-s2" class="center">
     <a ng-click="toggleWord()" class="waves-effect waves-light btn">Toggle Word</a>
     <a ng-show="keys == 'magicspell'" ng-click="toggleImage()" class="waves-effect waves-light btn">Toggle Image</a>
   </div>
 </div>

<div ng-show="help" class="container">
  <img class="materialboxed" id="help" src="img/a.png" ng-show="help">
</div>
