<div class="container">
  <div class="row">
    <form class="col s12">
      <h2 class="center">Configure Game</h2>
      <div class="row">
        <div class="input-field col s6">
          <label>Player Name</label>
          <input ng-model="game.name" id="name" type="text" class="validate">
        </div>
      </div>

      <div class="row">
        <div class= "col s6">
          <label>Choose Keyboard</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select class="browser-default" ng-model="game.keys">
              <option ng-repeat="value in keyOptions">{{value}}</option>
          </select>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="input-field col s6">
          <label>Number of Rounds</label>
          <input ng-model="game.rounds" id="times" type="number" min="1" max="5">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="input-field col s5">
          <textarea ng-model="game.words" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Type word list (cat, dog, fish,...)</label>
        </div>
        <div class="col s1" style="margin-top: 40px">
          <h5>OR</h5>
        </div>
        <div class="file-field input-field col s6" style="margin-top: 60px">
          <div class="btn">
            <span>Upload Word List</span>
            <input ng-model="game.wordFile" id="fileInput" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

      <br>
      <button ng-click="start(game)" class="btn waves-effect waves-light">Start Game!
        <i class="material-icons right">send</i>
      </button>

    </form>
  </div>
</div>
